# 4.6 Task

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/ethanahennes/Desktop/instacart basket analysis'

In [6]:
#3)importing pickle file
df_orders_prods_combo = pd.read_pickle(os.path.join(path,'02 data','Pepared Data','orders_products_combined.pkl'))

In [7]:
#4 checking the shape data frame
df_orders_prods_combo.shape

(32434489, 12)

In [8]:
#importing cleaned products set
df_prods = pd.read_csv(os.path.join(path,'02 data','Pepared Data','products_checked.csv))'),index_col = False)

In [9]:
#creating a second Df to not overwrite main Df
df_test_orders_prods_combo=df_orders_prods_combo

In [10]:
df_test_prods=df_prods

In [11]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_test_orders_prods_combo.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [13]:
df_test_orders_prods_combo.shape

(32434489, 12)

In [14]:
df_prods.shape

(49672, 6)

In [17]:
#mereging on an Outer to test
df_test_total_merge=df_test_prods.merge(df_test_orders_prods_combo, on = 'product_id',how = 'outer')

In [18]:
#6)checking for counts
df_test_total_merge['_merge'].value_counts()

both          32435059
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
#joining with default inner join
df_test_total_merge=df_test_prods.merge(df_test_orders_prods_combo, on = 'product_id')

In [23]:
#exporting new mereged data fram as pickle file
df_test_total_merge.to_pickle(os.path.join(path,'02 Data','Pepared Data','orders_products_merged.pkl'))