In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/ethanahennes/Desktop/instacart basket analysis'

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path,'02 data','Original Data','4.3_orders_products','order_products__prior.csv'), index_col = False)

In [5]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords = pd.read_csv(os.path.join(path,'02 data','Pepared Data','ords_checked.csv))'), index_col = False)

In [10]:
df_ords.shape

(3421083, 8)

In [11]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [13]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [ ]:
# TASK

In [15]:
#2) Exporting the merged file as a .pkl
df_merged_large.to_pickle(os.path.join(path,'02 Data','Pepared Data','orders_products_combined.pkl'))