In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/ethanahennes/Desktop/instacart basket analysis'

In [3]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data','Pepared Data','merged df with new variables.pkl'))

In [4]:
#creating a new df with the first one million entries
df = df_ords_prods_merge [:1000000]

In [5]:
df.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_from_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,28,6,11,3.0,5,0,both,Mid ranged product,Regularly busy,Average orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,30,6,17,20.0,1,1,both,Mid ranged product,Regularly busy,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,2,0,21,6.0,20,0,both,Mid ranged product,Most busy day,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,1,3,13,NaN,10,0,both,Mid ranged product,Second least busy day,Average orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,3,4,17,9.0,11,1,both,Mid ranged product,Least busy day,Average orders

In [6]:
df.shape

(1000000, 20)

In [ ]:
#Group by steps
#Split the data in groupas based on a disered criteria
#Apply a function to each group speratly
#Combine results into a data frame or alt data structuor or create new column

In [7]:
#using the group by function
df.groupby('product_name')

In [9]:
#Grouping to show the dpeartmnents by the average number of orders for each dept
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [10]:
#achivung the same result but with the MEAN()
df.groupby('department_id')['order_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

In [11]:
#performing multiple aggregations with one comand
df.groupby('department_id').agg({'order_number':['mean','min','max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.447411   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.803851   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

In [12]:
#Creating a new column to show the Max numbe of orders a user has made to then cerat a condition coulmn based on that result
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
df_ords_prods_merge.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,orders_day_of_week,order_hour_of_day,days_from_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,6,11,3.0,5,0,both,Mid ranged product,Regularly busy,Average orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,6,17,20.0,1,1,both,Mid ranged product,Regularly busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,0,21,6.0,20,0,both,Mid ranged product,Most busy day,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,3,13,NaN,10,0,both,Mid ranged product,Second least busy day,Average orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,4,17,9.0,11,1,both,Mid ranged product,Least busy day,Average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,1,7,26.0,7,0,both,Mid ranged product,Second most busy day,Average orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,2,14,30.0,2,0,both,Mid ranged product,Regularly busy,Average orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,3,10,30.0,1,0,both,Mid ranged product,Second least busy day,Most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,1,20,19.0,1,0,both,Mid ranged product,Second most busy day,Average orders,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,1,12,15.0,2,1,both,Mid ranged product,Second most busy day,Average orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,22082,1798115,1379,...,5,11,NaN,1,0,both,Mid ranged product,Regularly busy,Average orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,23713,497193,1480,...,3,13,7.0,1,0,both,Mid ranged product,Second least busy day,Average orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,23715,1727826,1480,...,4,13,7.0,3,1,both,Mid ranged product,Least busy day,Average orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,23716,2694698,1480,...,2,12,12.0,4,1,both,Mid ranged product,Regularly busy,Average orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,23937,3171753,1494,...,3,10,2.0,8,0,both,Mid ranged product,Second least busy day,Most orders,13

In [19]:
df_ords_prods_merge.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,orders_day_of_week,order_hour_of_day,days_from_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,6,11,3.0,5,0,both,Mid ranged product,Regularly busy,Average orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,6,17,20.0,1,1,both,Mid ranged product,Regularly busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,0,21,6.0,20,0,both,Mid ranged product,Most busy day,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,3,13,NaN,10,0,both,Mid ranged product,Second least busy day,Average orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,4,17,9.0,11,1,both,Mid ranged product,Least busy day,Average orders,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,179480,179480,602103,10831,...,3,11,23.0,5,0,both,Mid ranged product,Second least busy day,Average orders,10
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,184011,184011,49629,11119,...,1,14,30.0,1,0,both,Mid ranged product,Second most busy day,Average orders,23
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,185002,185002,317888,11186,...,5,16,2.0,8,0,both,Mid ranged product,Regularly busy,Average orders,26
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,186194,186194,682486,11243,...,3,13,0.0,2,0,both,Mid ranged product,Second least busy day,Average orders,43
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,189258,189258,2861386,11448,...,2,15,3.0,6,0,both,Mid ranged product,Regularly busy,Average orders,21

In [20]:
#how to change the default setting to show all rows asked for
pd.options.display.max_rows = None

In [21]:
df_ords_prods_merge.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,orders_day_of_week,order_hour_of_day,days_from_last_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,6,11,3.0,5,0,both,Mid ranged product,Regularly busy,Average orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,6,17,20.0,1,1,both,Mid ranged product,Regularly busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,0,21,6.0,20,0,both,Mid ranged product,Most busy day,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,3,13,NaN,10,0,both,Mid ranged product,Second least busy day,Average orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,4,17,9.0,11,1,both,Mid ranged product,Least busy day,Average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,1,7,26.0,7,0,both,Mid ranged product,Second most busy day,Average orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,2,14,30.0,2,0,both,Mid ranged product,Regularly busy,Average orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,3,10,30.0,1,0,both,Mid ranged product,Second least busy day,Most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,1,20,19.0,1,0,both,Mid ranged product,Second most busy day,Average orders,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,1,12,15.0,2,1,both,Mid ranged product,Second most busy day,Average orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,22082,1798115,1379,...,5,11,NaN,1,0,both,Mid ranged product,Regularly busy,Average orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,23713,497193,1480,...,3,13,7.0,1,0,both,Mid ranged product,Second least busy day,Average orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,23715,1727826,1480,...,4,13,7.0,3,1,both,Mid ranged product,Least busy day,Average orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,23716,2694698,1480,...,2,12,12.0,4,1,both,Mid ranged product,Regularly busy,Average orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,23937,3171753,1494,...,3,10,2.0,8,0,both,Mid ranged product,Second least busy day,Most orders,13
15,0,1,Chocolate Sandwich Cookies,61,19,5.8,23938,23938,186761,1494,...,2,8,6.0,18,1,both,Mid ranged product,Regularly busy,Average orders,13
16,0,1,Chocolate Sandwich Cookies,61,19,5.8,23940,23940,317121,1494,...,5,8,10.0,12,1,both,Mid ranged product,Regularly busy,Average orders,13
17,0,1,Chocolate Sandwich Cookies,61,19,5.8,24740,24740,200390,1540,...,2,0,7.0,10,0,both,Mid ranged product,Regularly busy,Average orders,28
18,0,1,Chocolate Sandwich Cookies,61,19,5.8,24741,24741,374436,1540,...,1,21,6.0,9,1,both,Mid ranged product,Second most busy day,Average orders,28
19,0,1,Chocolate Sandwich Cookies,61,19,5.8,24742,24742,2920553,1540,...,1,0,14.0,9,1,both,Mid ranged product,Second most busy day,Average orders,28
20,0,1,Chocolate Sandwich Cookies,61,19,5.8,24743,24743,2813049,1540,...,2,2,8.0,7,1,both,Mid ranged product,Regularly busy,Average orders,28
21,0,1,Chocolate Sandwich Cookies,61,19,5.8,24744,24744,2365998,1540,...,1,23,6.0,6,1,both,Mid ranged product,Second most busy day,Average orders,28
22,0,1,Chocolate Sandwich Cookies,61,19,5.8,24745,24745,1604797,1540,...,1,3,28.0,6,1,both,Mid ranged product,Second most busy day,Fewest orders,28
23,0,1,Chocolate Sandwich Cookies,61,19,5.8,24750,24750,2799665,1540,...,1,14,7.0,10,1,both,Mid ranged product,Second most busy day,Average orders,28
24,0,1,Chocolate Sandwich Cookies,61,19,5.8,24751,24751,2228851,1540,...,1,14,7.0,3,1,both,Mid ranged product,Second most busy day,Average orders,28
25,0,1,Chocolate Sandwich Cookies,61,19,5.8,24754,24754,2337422,1540,...,0,21,0.0,5,1,both,Mid ranged product,Most busy day,Average orders,28
26,0,1,Chocolate Sandwich Cookies,61,19,5.8,24755,24755,2699008,1540,...,0,22,7.0,11,1,both,Mid ranged product,Most busy day,Average orders,28
27,0,1,Chocolate Sandwich Cookies,61,19,5.8,24756,24756,1914830,1540,...,0,22,7.0,11,1,both,Mid ranged product,Most busy day,Average orders,28
28,0,1,Chocolate Sandwich Cookies,61,19,5.8,24757,24757,783503,1540,...,0,20,7.0,5,1,both,Mid ranged product,Most busy day,Average orders,28
29,0,1,Chocolate Sandwich Cookies,61,19,5.8,24758,24758,2500516,1540,...,0,22,7.0,15,1,both,Mid ranged product,Most busy day,Average orders,28
30,0,1,Chocolate Sandwich Cookies,61,19,5.8,24760,24760,716845,1540,...,4,22,3.0,4,1,both,Mid ranged product,Least busy day,Average orders,28
31,0,1,Chocolate Sandwich Cookies,61,19,5.8,24761,24761,1955535,1540,...,6,19,16.0,6,1,both,Mid ranged product,Regularly busy,Average orders,28
32,0,1,Chocolate Sandwich Cookies,61,19,5.8,24763,24763,1424793,1540,...,1,1,5.0,1,1,both,Mid ranged product,Second most busy day,Average orders,28
33,0,1,Chocolate Sandwich Cookies,61,19,5.8,24764,24764,749498,1540,...,0,21,6.0,1,1,both,Mid ranged product,Most busy day,Average orders,28
34,0,1,Chocolate Sandwich Cookies,61,19,5.8,25854,25854,2434812,1598,...,2,12,NaN,2,0,both,Mid ranged product,Regularly busy,Average orders,4
35,0,1,Chocolate Sandwich Cookies,61,19,5.8,25855,25855,1531889,1598,...,2,10,21.0,2,1,both,Mid ranged product,Regularly busy,Most orders,4
36,0,1,Chocolate Sandwich Cookies,61,19,5.8,25856,25856,726947,1598,...,4,17,2.0,3,1,both,Mid ranged product,Least busy day,Average orders,4
37,0,1,Chocolate Sandwich Cookies,61,19,5.8,26514,26514,627615,1647,...,1,9,NaN,1,0,both,Mid ranged product,Second most busy day,Average orders,10
38,0,1,Chocolate Sandwich Cookies,61,19,5.8,26517,26517,2507439,1647,...,0,13,18.0,6,1,both,Mid ranged product,Most busy day,Average orders,10
39,0,1,Chocolate Sandwich Cookies,61,19,5.8,26519,26519,1152609,1647,...,1,9,8.0,3,1,both,Mid ranged product,Second most busy day,Average orders,10
40,0,1,Chocolate Sandwich Cookies,61,19,5.8,26521,26521,1048339,1647,...,0,17,30.0,10,1,both,Mid ranged product,Most busy day,Average orders,10
41,0,1,Chocolate Sandwich Cookies,61,19,5.8,26522,26522,2818381,1647,...,4,15,25.0,1,1,both,Mid ranged product,Least busy day,Average orders,10
42,0,1,Chocolate Sandwich Cookies,61,19,5.8,45857,45857,2722928,2833,...,0,14,NaN,12,0,both,Mid ranged product,Most busy day,Average orders,10
43,0,1,Chocolate Sandwich Cookies,61,19,5.8,46112,46112,1482338,2850,...,1,16,9.0,10,0,both,Mid ranged product,Second most busy day,Average orders,23
44,0,1,Chocolate Sandwich Cookies,61,19,5.8,46221,46221,2311344,2857,...,1,8,10.0,5,0,both,Mid ranged product,Second most busy day,Average orders,25
45,0,1,Chocolate Sandwich Cookies,61,19,5.8,48737,48737,812943,3010,...,3,10,7.0,11,0,both,Mid ranged product,Second least busy day,Most orders,13
46,0,1,Chocolate Sandwich Cookies,61,19,5.8,49060,49060,256839,3029,...,2,20,NaN,8,0,both,Mid ranged product,Regularly busy,Average orders,5
47,0,1,Chocolate Sandwich Cookies,61,19,5.8,54482,54482,2192488,3395,...,2,10,30.0,7,0,both,Mid ranged product,Regularly busy,Most orders,6
48,0,1,Chocolate Sandwich Cookies,61,19,5.8,63154,63154,207661,3904,...,1,14,NaN,2,0,both,Mid ranged product,Second most busy day,Average orders,3
49,0,1,Chocolate Sandwich Cookies,61,19,5.8,64629,64629,1394659,4006,...,1,10,7.0,8,0,both,Mid ranged product,Second most busy day,Most orders,42
50,0,1,Chocolate Sandwich Cookies,61,19,5.8,64630,64630,2353526,4006,...,1,10,7.0,2,1,both,Mid ranged product,Second most busy day,Most orders,42
51,0,1,Chocolate Sandwich Cookies,61,19,5.8,64632,64632,2269226,4006,...,3,13,7.0,6,1,both,Mid ranged product,Second least busy day,Average orders,42
52,0,1,Chocolate Sandwich Cookies,61,19,5.8,64636,64636,367316,4006,...,2,11,5.0,3,1,both,Mid ranged product,Regularly busy,Average orders,42
53,0,1,Chocolate Sandwich Cookies,61,19,5.8,64639,64639,1448367,4006,...,1,11,4.0,2,1,both,Mid ranged product,Second most busy day,Average orders,42
54,0,1,Chocolate Sandwich Cookies,61,19,5.8,66464,66464,19989,4122,...,2,7,8.0,1,0,both,Mid ranged product,Regularly busy,Average orders,40
55,0,1,Chocolate Sandwich Cookies,61,19,5.8,66740,66740,2735922,4141,...,0,8,30.0,2,0,both,Mid ranged product,Most busy day,Average orders,9
56,0,1,Chocolate Sandwich Cookies,61,19,5.8,70156,70156,2469422,4343,...,1,16,NaN,9,0,both,Mid ranged product,Second most busy day,Average orders,4
57,0,1,Chocolate Sandwich Cookies,61,19,5.8,74002,74002,3185558,4553,...,5,16,29.0,1,0,both,Mid ranged product,Regularly busy,Average orders,4
58,0,1,Chocolate Sandwich Cookies,61,19,5.8,79495,79495,350540,4845,...,0,13,12.0,7,0,both,Mid ranged product,Most busy day,Average orders,14
59,0,1,Chocolate Sandwich Cookies,61,19,5.8,113547,113547,513100,6866,...,4,15,NaN,11,0,both,Mid ranged product,Least busy day,Average orders,6
60,0,1,Chocolate Sandwich Cookies,61,19,5.8,120201,120201,2081405,7275,...,2,23,4.0,6,0,both,Mid ranged product,Regularly busy,Average orders,8
61,0,1,Chocolate Sandwich Cookies,61,19,5.8,127181,127181,2209807,7669,...,3,15,5.0,5,0,both,Mid ranged product,Second least busy day,Average orders,21
62,0,1,Chocolate Sandwich Cookies,61,19,5.8,127182,127182,921798,7669,...,1,17,5.0,6,1,both,Mid ranged product,Second most busy day,Average orders,21
63,0,1,Chocolate Sandwich Cookies,61,19,5.8,127198,127198,2540226,7669,...,1,8,13.0,3,1,both,Mid ranged product,Second most busy day,Average orders,21
64,0,1,Chocolate Sandwich Cookies,61,19,5.8,132199,132199,2265792,7981,...,2,15,10.0,2,0,both,Mid ranged product,Regularly busy,Average orders,31
65,0,1,Chocolate Sandwich Cookies,61,19,5.8,132203,132203,3357714,7981,...,0,23,6.0,1,1,both,Mid ranged product,Most busy day,Average orders,31
66,0,1,Chocolate Sandwich Cookies,61,19,5.8,132204,132204,1186573,7981,...,2,23,9.0,1,1,both,Mid ranged product,Regularly busy,Average orders,31
67,0,1,Chocolate Sandwich Cookies,61,19,5.8,132214,132214,3209740,7981,...,2,13,6.0,2,1,both,Mid ranged product,Regularly busy,Average orders,31
68,0,1,Chocolate Sandwich Cookies,61,19,5.8,132220,132220,138748,7981,...,3,16,8.0,2,1,both,Mid ranged product,Second least busy day,Average orders,31
69,0,1,Chocolate Sandwich Cookies,61,19,5.8,144644,144644,2027157,8703,...,4,13,1.0,13,0,both,Mid ranged product,Least busy day,Average orders,99
70,0,1,Chocolate Sandwich Cookies,61,19,5.8,144965,144965,3052954,8723,...,3,10,7.0,2,0,both,Mid ranged product,Second least busy day,Most orders,36
71,0,1,Chocolate Sandwich Cookies,61,19,5.8,145132,145132,1486756,8735,...,4,11,21.0,2,0,both,Mid ranged product,Least busy day,Average orders,9
72,0,1,Chocolate Sandwich Cookies,61,19,5.8,154495,154495,632514,9293,...,0,12,30.0,2,0,both,Mid ranged product,Most busy day,Average orders,5
73,0,1,Chocolate Sandwich Cookies,61,19,5.8,154496,154496,1253470,9293,...,3,13,30.0,1,1,both,Mid ranged product,Second least busy day,Average orders,5
74,0,1,Chocolate Sandwich Cookies,61,19,5.8,157363,157363,837303,9467,...,0,17,NaN,11,0,both,Mid ranged product,Most busy day,Average orders,5
75,0,1,Chocolate Sandwich Cookies,61,19,5.8,161167,161167,2734881,9694,...,0,17,30.0,3,0,both,Mid ranged product,Most busy day,Average orders,23
76,0,1,Chocolate Sandwich Cookies,61,19,5.8,161169,161169,2164394,9694,...,4,18,8.0,2,1,both,Mid ranged product,Least busy day,Average orders,23
77,0,1,Chocolate Sandwich Cookies,61,19,5.8,161170,161170,3354551,9694,...,4,15,7.0,1,1,both,Mid ranged product,Least busy day,Average orders,23
78,0,1,Chocolate Sandwich Cookies,61,19,5.8,161171,161171,1381165,9694,...,4,21,14.0,2,1,both,Mid ranged product,Least busy day,Average orders,23
79,0,1,Chocolate Sandwich Cookies,61,19,5.8,161172,161172,2809438,9694,...,4,18,28.0,1,1,both,Mid ranged product,Least busy day,Average orders,23
80,0,1,Chocolate Sandwich Cookies,61,19,5.8,161175,161175,425352,9694,...,4,7,16.0,4,1,both,Mid ranged product,Least busy day,Average orders,23
81,0,1,Chocolate Sandwich Cookies,61,19,5.8,161179,161179,2453441,9694,...,4,22,1.0,1,1,both,Mid ranged product,Least busy day,Average orders,23
82,0,1,Chocolate Sandwich Cookies,61,19,5.8,161180,161180,1189695,9694,...,4,16,14.0,1,1,both,Mid ranged product,Least busy day,Average orders,23
83,0,1,Chocolate Sandwich Cookies,61,19,5.8,161181,161181,1759231,9694,...,4,15,7.0,2,1,both,Mid ranged product,Least busy day,Average orders,23
84,0,1,Chocolate Sandwich Cookies,61,19,5.8,161185,161185,482648,9694,...,4,13,8.0,1,1,both,Mid ranged product,Least busy day,Average orders,23
85,0,1,Chocolate Sandwich Cookies,61,19,5.8,161187,161187,2201348,9694,...,4,14,16.0,7,1,both,Mid ranged product,Least busy day,Average orders,23
86,0,1,Chocolate Sandwich Cookies,61,19,5.8,163406,163406,3351592,9848,...,4,18,8.0,16,0,both,Mid ranged product,Least busy day,Average orders,23
87,0,1,Chocolate Sandwich Cookies,61,19,5.8,167401,167401,2164672,10113,...,4,18,14.0,5,0,both,Mid ranged product,Least busy day,Average orders,11
88,0,1,Chocolate Sandwich Cookies,61,19,5.8,170879,170879,1526735,10315,...,0,16,NaN,2,0,both,Mid ranged product,Most busy day,Average orders,5
89,0,1,Chocolate Sandwich Cookies,61,19,5.8,173474,173474,2057892,10479,...,1,16,8.0,8,0,both,Mid ranged product,Second most busy day,Average orders,22
90,0,1,Chocolate Sandwich Cookies,61,19,5.8,177382,177382,356685,10708,...,2,14,14.0,15,0,both,Mid ranged product,Regularly busy,Average orders,21
91,0,1,Chocolate Sandwich Cookies,61,19,5.8,177386,177386,1592736,10708,...,2,14,14.0,9,1,both,Mid ranged product,Regularly busy,Average orders,21
92,0,1,Chocolate Sandwich Cookies,61,19,5.8,178699,178699,3125810,10789,...,0,21,10.0,1,0,both,Mid ranged product,Most busy day,Average orders,36
93,0,1,Chocolate Sandwich Cookies,61,19,5.8,178700,178700,846661,10789,...,0,19,14.0,4,1,both,Mid ranged product,Most busy day,Average orders,36
94,0,1,Chocolate Sandwich Cookies,61,19,5.8,178705,178705,2363761,10789,...,2,16,4.0,2,1,both,Mid ranged product,Regularly busy,Average orders,36
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,179480,179480,602103,10831,...,3,11,23.0,5,0,both,Mid ranged product,Second least busy day,Average orders,10
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,184011,184011,49629,11119,...,1,14,30.0,1,0,both,Mid ranged product,Second most busy day,Average orders,23
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,185002,185002,317888,11186,...,5,16,2.0,8,0,both,Mid ranged product,Regularly busy,Average orders,26
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,186194,186194,682486,11243,...,3,13,0.0,2,0,both,Mid ranged product,Second least busy day,Average orders,43
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,189258,189258,2861386,11448,...,2,15,3.0,6,0,both,Mid ranged product,Regularly busy,Average orders,21

In [22]:
#creating a flag for loyal customers
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) &(df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [27]:
#checking DF for errors with a column filter
df_ords_prods_merge[['user_id','loyalty_flag','order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1

In [ ]:
#TASK

In [28]:
#2) applying aggration to entire DF
df_ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [29]:
#recalling command to compare results of subset vs ennitre DF
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [ ]:
#They have relativly similar means with the exption of a few full intiger diffrences

In [31]:
#5) aggregating the mean of prices by 'loyalty_flag' to compare prices averages
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

In [ ]:
#Based on this aggregation it looks like new customers tend to spenmd more money on avergae

In [ ]:
#6) To create a new flag and aggregation to lable users as "low spending" and high "spending" my steps are as follows
#a) I will create a new group/column for the mean amount spent per customer
#b) Then I will use this new column to create a for loop

In [34]:
df_ords_prods_merge['average_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [40]:
df_ords_prods_merge[['user_id','prices','average_price']].head(100)

    user_id  prices  average_price
0       138     5.8       6.935811
1       138     5.8       6.935811
2       709     5.8       7.930208
3       764     5.8       4.972414
4       764     5.8       4.972414
5       777     5.8       6.935398
6       825     5.8       5.957576
7       910     5.8       6.680000
8      1052     5.8       7.162500
9      1052     5.8       7.162500
10     1379     5.8       5.813636
11     1480     5.8       5.081633
12     1480     5.8       5.081633
13     1480     5.8       5.081633
14     1494     5.8       6.803797
15     1494     5.8       6.803797
16     1494     5.8       6.803797
17     1540     5.8       6.607122
18     1540     5.8       6.607122
19     1540     5.8       6.607122
20     1540     5.8       6.607122
21     1540     5.8       6.607122
22     1540     5.8       6.607122
23     1540     5.8       6.607122
24     1540     5.8       6.607122
25     1540     5.8       6.607122
26     1540     5.8       6.607122
27     1540     5.8       6.607122
28     1540     5.8       6.607122
29     1540     5.8       6.607122
30     1540     5.8       6.607122
31     1540     5.8       6.607122
32     1540     5.8       6.607122
33     1540     5.8       6.607122
34     1598     5.8       7.123529
35     1598     5.8       7.123529
36     1598     5.8       7.123529
37     1647     5.8       4.853521
38     1647     5.8       4.853521
39     1647     5.8       4.853521
40     1647     5.8       4.853521
41     1647     5.8       4.853521
42     2833     5.8       7.377143
43     2850     5.8       8.054153
44     2857     5.8       8.353793
45     3010     5.8       6.452800
46     3029     5.8       7.960606
47     3395     5.8       6.322222
48     3904     5.8       7.511111
49     4006     5.8       7.441100
50     4006     5.8       7.441100
51     4006     5.8       7.441100
52     4006     5.8       7.441100
53     4006     5.8       7.441100
54     4122     5.8       7.598765
55     4141     5.8       6.033333
56     4343     5.8       7.393939
57     4553     5.8       5.715789
58     4845     5.8       7.229630
59     6866     5.8       4.807143
60     7275     5.8       4.620833
61     7669     5.8       9.106757
62     7669     5.8       9.106757
63     7669     5.8       9.106757
64     7981     5.8       7.115714
65     7981     5.8       7.115714
66     7981     5.8       7.115714
67     7981     5.8       7.115714
68     7981     5.8       7.115714
69     8703     5.8       6.593459
70     8723     5.8       5.677397
71     8735     5.8       5.850000
72     9293     5.8      11.857143
73     9293     5.8      11.857143
74     9467     5.8       7.709091
75     9694     5.8       7.075354
76     9694     5.8       7.075354
77     9694     5.8       7.075354
78     9694     5.8       7.075354
79     9694     5.8       7.075354
80     9694     5.8       7.075354
81     9694     5.8       7.075354
82     9694     5.8       7.075354
83     9694     5.8       7.075354
84     9694     5.8       7.075354
85     9694     5.8       7.075354
86     9848     5.8       8.312203
87    10113     5.8       8.769565
88    10315     5.8      10.188889
89    10479     5.8       7.779775
90    10708     5.8       7.777403
91    10708     5.8       7.777403
92    10789     5.8       6.097701
93    10789     5.8       6.097701
94    10789     5.8       6.097701
95    10831     5.8       7.494286
96    11119     5.8       5.878641
97    11186     5.8       6.618085
98    11243     5.8       5.927149
99    11448     5.8       5.981250

In [43]:
#creating a for loop for the new column
df_ords_prods_merge.loc[df_ords_prods_merge['average_price'] < 10,'price_flag'] = "Low spender"
df_ords_prods_merge.loc[df_ords_prods_merge['average_price'] >10,'price_flag']= "High Spender"

In [44]:
#running some checks
df_ords_prods_merge['price_flag'].value_counts(dropna=False)

Low spender     31770614
High Spender      633864
NaN                  381
Name: price_flag, dtype: int64

In [45]:
df_ords_prods_merge[['user_id','price_flag','average_price']].head(60)

    user_id   price_flag  average_price
0       138  Low spender       6.935811
1       138  Low spender       6.935811
2       709  Low spender       7.930208
3       764  Low spender       4.972414
4       764  Low spender       4.972414
5       777  Low spender       6.935398
6       825  Low spender       5.957576
7       910  Low spender       6.680000
8      1052  Low spender       7.162500
9      1052  Low spender       7.162500
10     1379  Low spender       5.813636
11     1480  Low spender       5.081633
12     1480  Low spender       5.081633
13     1480  Low spender       5.081633
14     1494  Low spender       6.803797
15     1494  Low spender       6.803797
16     1494  Low spender       6.803797
17     1540  Low spender       6.607122
18     1540  Low spender       6.607122
19     1540  Low spender       6.607122
20     1540  Low spender       6.607122
21     1540  Low spender       6.607122
22     1540  Low spender       6.607122
23     1540  Low spender       6.607122
24     1540  Low spender       6.607122
25     1540  Low spender       6.607122
26     1540  Low spender       6.607122
27     1540  Low spender       6.607122
28     1540  Low spender       6.607122
29     1540  Low spender       6.607122
30     1540  Low spender       6.607122
31     1540  Low spender       6.607122
32     1540  Low spender       6.607122
33     1540  Low spender       6.607122
34     1598  Low spender       7.123529
35     1598  Low spender       7.123529
36     1598  Low spender       7.123529
37     1647  Low spender       4.853521
38     1647  Low spender       4.853521
39     1647  Low spender       4.853521
40     1647  Low spender       4.853521
41     1647  Low spender       4.853521
42     2833  Low spender       7.377143
43     2850  Low spender       8.054153
44     2857  Low spender       8.353793
45     3010  Low spender       6.452800
46     3029  Low spender       7.960606
47     3395  Low spender       6.322222
48     3904  Low spender       7.511111
49     4006  Low spender       7.441100
50     4006  Low spender       7.441100
51     4006  Low spender       7.441100
52     4006  Low spender       7.441100
53     4006  Low spender       7.441100
54     4122  Low spender       7.598765
55     4141  Low spender       6.033333
56     4343  Low spender       7.393939
57     4553  Low spender       5.715789
58     4845  Low spender       7.229630
59     6866  Low spender       4.807143

In [46]:
#7) Following the same steps as above to aggreagte and create a flag for frequency of use
df_ords_prods_merge['average_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_from_last_order'].transform(np.mean)

In [47]:
#Checking head
df_ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_pricve,average_price,price_flag,average_frequency
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,both,Mid ranged product,Regularly busy,Average orders,32,Regular customer,6.935811,6.935811,Low spender,10.400000
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,both,Mid ranged product,Regularly busy,Average orders,32,Regular customer,6.935811,6.935811,Low spender,10.400000
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,both,Mid ranged product,Most busy day,Average orders,5,New customer,7.930208,7.930208,Low spender,7.070968
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,both,Mid ranged product,Second least busy day,Average orders,3,New customer,4.972414,4.972414,Low spender,10.948718
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,both,Mid ranged product,Least busy day,Average orders,3,New customer,4.972414,4.972414,Low spender,10.948718

In [51]:
#creating for new criteria for aggregation
df_ords_prods_merge.loc[df_ords_prods_merge['average_frequency']>20,'frequency_flag'] = "Non-frequent Customer"
df_ords_prods_merge.loc[(df_ords_prods_merge['average_frequency']>10) & (df_ords_prods_merge['average_frequency']<= 20), 'frequency_flag'] = 'regular_customer'
df_ords_prods_merge.loc[df_ords_prods_merge['average_frequency']<=10,'frequency_flag'] = 'frequent Customer'

In [53]:
#running a check on new aggregation
df_ords_prods_merge[['user_id','frequency_flag','average_frequency']].head(60)

    user_id         frequency_flag  average_frequency
0       138       regular_customer          10.400000
1       138       regular_customer          10.400000
2       709      frequent Customer           7.070968
3       764       regular_customer          10.948718
4       764       regular_customer          10.948718
5       777       regular_customer          12.623853
6       825  Non-frequent Customer          22.700000
7       910      frequent Customer           7.684211
8      1052       regular_customer          10.914894
9      1052       regular_customer          10.914894
10     1379       regular_customer          17.684211
11     1480      frequent Customer           8.478947
12     1480      frequent Customer           8.478947
13     1480      frequent Customer           8.478947
14     1494      frequent Customer           6.283582
15     1494      frequent Customer           6.283582
16     1494      frequent Customer           6.283582
17     1540      frequent Customer           7.086420
18     1540      frequent Customer           7.086420
19     1540      frequent Customer           7.086420
20     1540      frequent Customer           7.086420
21     1540      frequent Customer           7.086420
22     1540      frequent Customer           7.086420
23     1540      frequent Customer           7.086420
24     1540      frequent Customer           7.086420
25     1540      frequent Customer           7.086420
26     1540      frequent Customer           7.086420
27     1540      frequent Customer           7.086420
28     1540      frequent Customer           7.086420
29     1540      frequent Customer           7.086420
30     1540      frequent Customer           7.086420
31     1540      frequent Customer           7.086420
32     1540      frequent Customer           7.086420
33     1540      frequent Customer           7.086420
34     1598      frequent Customer           6.928571
35     1598      frequent Customer           6.928571
36     1598      frequent Customer           6.928571
37     1647  Non-frequent Customer          23.000000
38     1647  Non-frequent Customer          23.000000
39     1647  Non-frequent Customer          23.000000
40     1647  Non-frequent Customer          23.000000
41     1647  Non-frequent Customer          23.000000
42     2833       regular_customer          15.434783
43     2850      frequent Customer           9.020619
44     2857       regular_customer          12.776119
45     3010      frequent Customer           6.859649
46     3029  Non-frequent Customer          28.041667
47     3395  Non-frequent Customer          21.291667
48     3904  Non-frequent Customer          21.000000
49     4006      frequent Customer           6.379538
50     4006      frequent Customer           6.379538
51     4006      frequent Customer           6.379538
52     4006      frequent Customer           6.379538
53     4006      frequent Customer           6.379538
54     4122      frequent Customer           8.237500
55     4141  Non-frequent Customer          28.536585
56     4343  Non-frequent Customer          26.052632
57     4553  Non-frequent Customer          29.666667
58     4845       regular_customer          19.647059
59     6866  Non-frequent Customer          30.000000

In [55]:
#saving new work as pickle
df_ords_prods_merge.to_pickle(os.path.join(path,'02 Data','Pepared Data','4.8 changes with agg.pkl'))